.cr{
    color: red;
}
.width{
    width: 22vw;
    background-color: white;
    height: 100vh;
    box-shadow: 3px 0 6px -2px #888;
}
.pl10{
    padding-left: 10px;
    margin-top: 10px;
}
.width73{
    width: 76.5%;
}   

.size{
    height: 144px;
    width: 500px;
  }
  .mb5{
    margin-bottom: 5px;
  }