body {
  background: #e2e1e0;
}
ul .link {
  padding: 0 10px;
  list-style-type: none;
  display:inline;
  cursor: pointer;
}
label, .label{
  cursor: pointer !important;
}
.link{
  text-decoration: none;
  color: #000;
}
ul{
 padding: 0;
  margin:0
}
.close{
  display: none;
}
.logoP{
  display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}
.parent{
  display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

#show:checked ~ div{
  display: none;
}

.mb{
display: none;
}
.pr10{
  padding-right: 10px;
}
@media (max-width:600px){
 
  ul .link{
    display:block;
text-align: center;
padding: 20px 0;
cursor: pointer;
  }
  .mb2{
    display: none;
  }
  .mb{
    display: block;
    position: fixed;
    top: 0;
    right: 0px;
    background-color: rgba(255, 255, 255, 0.781);
    backdrop-filter: blur(10px);
    box-shadow: 5px 0px 11px #232931;
    width: 70%;
    height: 100vh;
  }
  .close{
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    cursor: pointer;
  }
  .pagination{
    display: flex;
    justify-content: center;
  }

}

.dFlex{
  display: flex;
  align-items: center;
}
.align-items{
  align-items: center;
}
.flexWrap{
  flex-wrap: wrap;
}
.m0{
  margin: 0;
}
.center{
  text-align: center;
}
.m10{
  margin: 10px !important;
}
.width100{
  width: 100%;
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

::-webkit-scrollbar-thumb {
  background-color: white;
}
input,select{
  outline: none;
}
select{
  width: 100%;
  padding: 10px;
}
.m50{
  margin-top: 50px;
}
.m65{
  margin-top: 65px;
}
.ml10{
  margin-left: 10px;
}
.textarea{
  width: 100%;
 }
 .bg{
  width: 180px;
  height: auto;
  margin: 10px;
  background-color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
 }
 .mlr10{
  margin-top: 10px;
 }
 .active{
  color: #1f76ce;
 }

 .hover:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.justify-between{
  justify-content: space-between;
}
.upDownPosition{
  position: fixed;
  right: 15px;
  bottom: 10px;
}
.mb2{
  margin-bottom: 2px;
}
.pagination{
  position: fixed;
  bottom: 0;
  padding: 5px;
  width: 100%;
  background-color: white;
}
.editBtn{
  width: 30%;
  padding: 7px 0;
  background-color: beige;
  border: navajowhite;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
}
.redMoreBtn{
  width: 30%;
  padding: 7px 0;
  background-color: #b348ff;
  border: navajowhite;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
  color: white;
}
.deleteBtn{
  width: 30%;
  cursor: pointer;
  padding: 7px 0;
  background-color: #ff1717f2;
  border: navajowhite;
  border-radius: 5px;
  margin-right: 5px;
  color: white;
}
/* .p10{
  padding: 10px;
} */
input{
  width: 100%;
  padding: 10px 0;
}
.error{
  color: red;
}
.btnDisable{
  cursor: not-allowed !important;
}
.button {
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #7d2ae8;
  transition: all 0.2s ease;
  width: 100%;
}
.button:active {
  transform: scale(0.96);
}

.alignCenter{
  justify-content: center;
}
.anchor{
  text-decoration: underline;
  color: #1f76ce;
  cursor: pointer;
  text-align: right;
}
.anchor:hover{
  text-decoration: none;
}